<template>
    <nav class="pagination">
        <span class="page-stats">{{pagination.from}} - {{pagination.to}} of {{pagination.total}}</span>
        <a v-if="pagination.prevPage" @click="$emit('prev')" class="button is-small pagination-previous">
            Prev
        </a>
        <a class="button is-small pagination-previous" v-else disabled>
            Prev
        </a>

        <a v-if="pagination.nextPage" @click="$emit('next')" class="button is-small pagination-next">
            Next
        </a>
        <a class="button is-small pagination-next" v-else disabled>
            Next
        </a>
    </nav>
</template>

<script>
    export default {
        props: ['pagination'],
    }
</script>
<style lang="scss">
    .pagination{
        margin: 5px 0;
        font-size: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .button{
            display: inline-block;
            padding: 0 10px;
            border: 1px solid #abb1ba;
            cursor: pointer;
            margin-left: 5px;
            &[disabled]{
                background: #abb1ba;
                cursor: unset;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
</style>