<template>
	<ul class="post-list">
		<li v-for="post in posts" :key="post.id">
			<article>
				<a v-bind:href="'/wp-rest-api/'+post.id">
					<post-excerpt :post="post" />
				</a>
			</article>
		</li>
	</ul>
</template>
<script>
	import PostExcerpt from './PostExcerpt.vue'

	export default{
		props:{
			posts: {type: Array}
		},
		components:{
			PostExcerpt
		}
	}
</script>
<style lang="scss">
	ul.post-list{
		li{
			border-bottom: 1px solid #e6e6e6;
		}
	}
</style>