<template>
	<article class="post-item">
		<h2 class="subtitle">{{ post.title.rendered}}</h2>
		<p>{{ post.date_gmt}}</p>
		<div v-html="post.excerpt.rendered"></div>
	</article>
</template>
<script>
	export default{
		props:{
			post: {type :Object}
		}
	}
</script>
<style lang="scss">
	.post-item{
		.subtitle{
			padding: 30px 0 15px;
			color: #004795;
			font-size: 150%;
			font-weight: normal;
		}
		> div{
			padding-bottom: 40px;
    		p{
    			font-size: 100%;
    			color: #3d4044;
    		}
		}
	}
</style>