<template>
	<div id="page-wp-api">
		<main id="main">
			<div class="contsSet">
				<h2 class="c-title">Nuxt WP Rest Api</h2>
				<post-list :posts="posts" />
			</div>
			<pagination :pagination="pagination"
                            @prev="--postsData.page; getPosts();"
                            @next="postsData.page++; getPosts();">
                </pagination>
		</main>
	</div>
</template>
<script>
	 import pagination from '~/components/posts/pagination.vue'
	import PostList from "~/components/posts/PostList.vue"
	import wp from '~/lib/wp.js'
	export default{
		async asyncData ({ params }){
			return wp.posts()
		},
		components:{
			PostList
		},
		// methods:{
		// 	configPagination(headers) {
  //               this.pagination.total = +headers['x-wp-total'];
  //               this.pagination.totalPages = +headers['x-wp-totalpages'];
  //               this.pagination.from = this.pagination.total ? ((this.params.page - 1) * this.postsData.per_page) + 1 : ' ';
  //               this.pagination.to = (this.params.page * this.params.per_page) > this.pagination.total ? this.pagination.total : this.params.page * this.params.per_page;
  //               this.pagination.prevPage = this.params.page > 1 ? this.params.page : '';
  //               this.pagination.nextPage = this.params.page < this.pagination.totalPages ? this.params.page + 1 : '';
  //           }
		// }
	}
</script>
<style lang="scss">
	#page-wp-api{
		.c-title{
			font-size: 250%;
			text-align: center;
			font-weight: normal;
			color: #999;
		}

		.contsSet{
			margin-bottom: 80px;
		}
	}
</style>