<template>
	<section class="faq">
		<h2 class="ttl"><span class="icon">Q.</span>{{question}}</h2>
			<div class="txt"><span class="icon">A.</span>{{answer}}</div>
	</section>
</template>
<script>
	export default{
		props:{
			question:{
				type:String,
				required: true
			},
			answer:{
				type:String,
				required:true
			}
		}
	};
</script>
<style lang="scss"></style>