<template>
	<aside id="pageLink">
	<div class="item box about">
		<nuxt-link to="/about/" class="cover">
			<p class="txt"><img src="/about_txt.png" width="124" height="150" alt="イーディアスについて ABOUT"></p>
		</nuxt-link>
	</div>

	<div class="item box solution">
		<nuxt-link to="/solution/" class="cover">
			<p class="txt"><img src="/solutions_txt.png" width="141" height="150" alt="ソリューションを探す SOLUTION"></p>
		</nuxt-link>
	</div>
	<div class="item box ranking">
		<nuxt-link to="/ranking/" class="cover">
			<p class="txt"><img src="/ranking_txt.png" width="94" height="150" alt="採用サイトランキング RANKING"></p>
		</nuxt-link>
	</div>
</aside>
</template>
<script>
	export default{};
</script>