<template>
	<header id="header">
		<p class="txt">採用における課題を「情報発信」で解決する - ii-deais（イーディアス） -</p>
		<div class="inner top" v-bind:class="{ 'fixed-header ': fixedOnScroll }">
			<div class="logo">
				<nuxt-link to="/"><img src="/logo.png" width="236" height="30" alt="株式会社イーディアス"></nuxt-link>
			</div>

			<div id="gNavi">
				<ul>
					<li><nuxt-link to="/about/"><span class="in">イーディアスに<br>ついて</span></nuxt-link></li>
					<li><nuxt-link to="#"><span class="in">ソリューション<br>のご紹介</span></nuxt-link></li>
					<li><nuxt-link to="/faq/"><span class="in">FAQ</span></nuxt-link></li>
					<li><nuxt-link to="#"><span class="in">採用サイト<br>ランキング</span></nuxt-link></li>
					<li><nuxt-link to="#"><span class="in">資料請求・<br>お問い合わせ</span></nuxt-link></li>
					<li><nuxt-link to="/testpost/"><span class="in">Nuxt<br>test api</span></nuxt-link></li>
				</ul>
			</div>
		</div>
	</header><!-- /header -->
</template>

<script>
	export default {
		data: function () {
		    return {
		      fixedOnScroll: false
		    }
		},
		methods: {
		    handleScroll () {
		      if (window.scrollY >= 1) {
		        this.fixedOnScroll = true
		      } else {
		        this.fixedOnScroll = false
		      }
		    }
		},
		created () {
		    if (process.browser) {
		      window.addEventListener('scroll', this.handleScroll)
		    }
		  },
		beforeUpdate () {
		    if (process.browser) {
		      window.addEventListener('scroll', this.handleScroll)
		    }
		}
	};
</script>

<style>
</style>