<template>
  <main id="main">
    <div class="contsSet">
      <h2 class="c-title">Nuxt WP Rest Api</h2>
       <div v-for="post in posts" :key="post.id">
        <p>{{post.date}}</p>
          <a v-bind:href="'/testpost/'+post.id">
            <div>{{post.title.rendered}}</div>
          </a>
        </div>
    </div>
  </main>
</template>

<script>
import axios from 'axios'
import wp from '~/lib/wp.js'
export default {
  async asyncData ({ params }) {
    const { data: posts } = await axios.get(`http://wp9.test20008.com/wp-json/wp/v2/posts?categories=${params.id}`)
    return {
      posts
    }
  }
};
</script>
<style lang="scss">
  /* .subtitle{
      padding: 30px 0 15px;
      color: #004795;
      font-size: 150%;
      font-weight: normal;
    }
  .info{
    padding: 10px 0;
    margin-bottom: 40px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  } */
</style>