<template>
  <main id="main">
   <div class="l-content">
      <div class="l-main">
        <!-- <h2>{{ post.id }}</h2> -->
      <h3 class="subtitle">{{ post.title.rendered }}</h3>
      <div class="info" v-html="post.content.rendered"></div>
    </div>
    <div class="l-side">
                <categories/>
            </div>
   </div>
  </main>
</template>

<script>
import axios from 'axios'
import categories from '~/components/categories/categories.vue'
export default {
  async asyncData ({ params }) {
    //id指定で個別の記事なんで直接書いた
    //WPのパーマリンク設定によってはgetするときのurlが違うかもですので、適宜変更してください。
    const { data: post } = await axios.get(`https://wp9.test20008.com/wp-json/wp/v2/posts/${params.id}`)
    return {
      post
    }
  },
  components:{
    categories
  }
};
</script>
<style lang="scss">
  .subtitle{
      padding: 30px 0 15px;
      color: #004795;
      font-size: 150%;
      font-weight: normal;
    }
  .info{
    padding: 10px 0;
    margin-bottom: 40px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
</style>