<template>
    <main id="main">
        <div class="l-content">
            <div class="l-main">
                <h2>test post nuxt</h2>
                <!-- <table class="table is-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Posted at</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="post in posts" :key="post.id">
                            <td>{{post.title.rendered}}</td>
                            <td>{{post.date_gmt}}</td>
                            <td v-html=post.excerpt.rendered></td>
                        </tr>
                    </tbody>
                </table> -->
                <div class="l-post" v-for="post in posts" :key="post.id">
                    <a v-bind:href="'/testpost/'+post.id">
                        <h2>{{post.title.rendered}}</h2>
                        <p class="c-date">{{post.date_gmt}}</p>
                        <div v-html=post.excerpt.rendered></div>
                    </a>
                </div>
                <pagination :pagination="pagination"
                            @prev="--postsData.page; getPosts();"
                            @next="postsData.page++; getPosts();">
                </pagination>
            </div>
            <div class="l-side">
                <categories/>
            </div>
        </div>
    </main>

</template>
  
<script>
    import pagination from '~/components/posts/pagination.vue'
    import categories from '~/components/categories/categories.vue'
    import axios from 'axios'
    // import wp from '~/lib/app.js'
    export default {
        mounted() {
            this.getPosts();
        },
        components: {
            pagination,
            categories
        },
        data() {
            return {
                postsUrl: 'https://wp9.test20008.com/wp-json/wp/v2/posts',
                posts: [],
                postsData: {
                    per_page: 5,
                    page: 1
                },
                pagination: {
                    prevPage: '',
                    nextPage: '',
                    totalPages: '',
                    from: '',
                    to: '',
                    total: '',
                },
            }
        },
        methods: {
            getPosts() {
                axios.get(this.postsUrl, {params: this.postsData})
                    .then((response) => {
                        // console.log(response);
                        this.posts = response.data;
                        this.configPagination(response.headers);
                    })
                    .catch( (error) => {
                        console.log(error);
                    });
            },
            configPagination(headers) {
                this.pagination.total = +headers['x-wp-total'];
                this.pagination.totalPages = +headers['x-wp-totalpages'];
                this.pagination.from = this.pagination.total ? ((this.postsData.page - 1) * this.postsData.per_page) + 1 : ' ';
                this.pagination.to = (this.postsData.page * this.postsData.per_page) > this.pagination.total ? this.pagination.total : this.postsData.page * this.postsData.per_page;
                this.pagination.prevPage = this.postsData.page > 1 ? this.postsData.page : '';
                this.pagination.nextPage = this.postsData.page < this.pagination.totalPages ? this.postsData.page + 1 : '';
            }
        }
    }
</script>
<style lang="scss">
    .l-content{
        width: 1050px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .l-main{
        width: 800px;
        h2{
            font-size: 200%;
        }
    }
    .l-side{
        width: 220px;
        main{
            border: 1px solid #abb1ba;
            h2{
                border-bottom: 1px solid #abb1ba;
            }
        }
    }
    .l-post{
        h2{
            font-size: 100%;
        }
        .c-date{
            font-size: 80%;
        }
        div{
            margin: 10px 0 20px;
            border-bottom: 1px solid #abb1ba;
        }
    }
    /* .table{
        width: 100%;
        &.is-bordered{
            border: 1px solid #333;
            border-collapse: collapse;
        }
        th,td{
            border: 1px solid #333;
            font-size: 2rem;
        }
    } */
</style>