<template>
    <main>
        <h2>test category</h2>
        <div v-for="cat in cats" :key="cat.id">
            <article>
                <a v-bind:href="'/category/'+cat.id">
                    {{cat.name}}
                </a>
            </article>
        </div>
    </main>

</template>
  
<script>
    import axios from 'axios'
    export default {
        mounted() {
            this.getPosts();
        },
        data() {
            return {
                catsUrl: 'https://wp9.test20008.com/wp-json/wp/v2/categories',
                cats: [],
                catsData: {
                    page: 1
                }
            }
        },
        methods: {
            getPosts() {
                axios.get(this.catsUrl, {params: this.catsData})
                    .then((response) => {
                        this.cats = response.data;
                    })
                    .catch( (error) => {
                        console.log(error);
                    });
            },
        }
    }
</script>
<style lang="scss">
</style>