<template>
  <div id="container">
    <top-header/>
    <nuxt/>
    <bottom-footer/>
  </div>
</template>

<script>
  import TopHeader from '~/components/TopHeader.vue';
  import BottomFooter from '~/components/BottomFooter.vue';
  export default{
    components:{
      TopHeader,
      BottomFooter
    }
  }
</script>

<style lang="scss">
@import '../assets/scss/styles.scss';
</style>

