<template>
	<div>
		<main id="main">
			<div class="contsSet">
				<h2 class="mb-8">{{post.title.rendered}}</h2>
				<div v-html="post.content.rendered"></div>
			</div>
			
		</main>
	</div>
</template>

<script>
	
	import axios from 'axios'

	export default {
        data() {
            return {
                post: {}
            }
        },
        async asyncData({params, payload}) {
            if(payload) {
                return {
                    post: payload
                }
            } else {
                return axios.get('http://wp9.test20008.com/wp-json/wp/v2/posts/' + params.id)
                    .then((res) => {
                        return {
                            post: res.data
                        }
                    })
            }
        }
    }
</script>