/*------------------------------------------------------------
header
------------------------------------------------------------*/
#footer{

	//--------------------------------------------------------
	.top{
		padding: 40px 0;
		background-color: #C9EDEC;
	}

	//--------------------------------------------------------
	.contact{
		margin: 0 auto;
		width: 960px;
		&:after{
			display: block;
			content: '';
			clear: both;
		}
		.ttl{
			margin-bottom: 20px;
			padding: 10px 0 7px;
			background-color: #29B6B4;
			color: #fff;
			font-size: 18px;
			font-weight: normal;
			text-align: center;
		}
	}

	//--------------------------------------------------------
	.tel{
		width: 640px;
		float: left;
		dl{
			margin: 0 auto 15px;
			display: table;
			dt,dd{
				display: table-cell;
				vertical-align: middle;
			}
			dt{
				padding: 5px;
				border: 1px solid #111;
				img{
					vertical-align: middle;
				}
			}
			dd{
				padding-right: 20px;
				padding-left: 10px;
			}
		}
		.data{
			margin-right: 20px;
			padding: 2px 0 1px;
			border: 1px solid #97b2b1;
			font-size: 12px;
			text-align: center;
		}

	}

	//--------------------------------------------------------
	.mail{
		width: 320px;
		float: right;
		.btn{
			padding: 23px 0 20px;
			width: 100%;
			background-color: #E5004E;
			display: block;
			color: #fff;
			font-size: 1.6rem;
			text-align: center;
			text-decoration: none;
		}
		.icon{
		    padding-right: 30px;
	   		position: relative;
	   		&:after{
	   			content: '';
	   			margin-top: -7px;
	   			width: 15px;
	   			height: 15px;
	   			background:url('/icon/arrow_r02.png') no-repeat;
	   			position: absolute;
	   			top: 50%;
	   			right: 0;
	   		}
		}
	}

	//--------------------------------------------------------
	.bottom{
		background-color: #004795;
	}

	//--------------------------------------------------------
	.subNavi{
		padding-top: 25px;
		letter-spacing: -0.4em;
		text-align: center;
		list-style-type: none;
		li{
			border-left: 2px solid #4075AF;
			display: inline-block;
			line-height: 1;
			letter-spacing: normal;
			&:first-child{
				border-left: none;
			}
		}
		&:first-child{
			border-left: none;
		}
		+.subNavi{
			padding-top: 10px;
			padding-bottom: 25px;
		}
		a{
			padding: 0 7px;
			color: #fff;
			font-size: 12px;
			line-height: 1;
		}
	}

	//--------------------------------------------------------
	.copyright{
		padding: 15px 0;
		border-top: 1px solid #1A5AA0;
		color: #fff;
		font-size: 12px;
		line-height: 1;
		text-align: center;
		small{
			font-size: 1.2rem;
		}
	}
}
#pageTop{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 20px;
    right: 0;

    //--------------------------------------------------------
    a{
    	display: block;
    	cursor: pointer;
    }
    opacity: 0;
    visibility: hidden;
    transition:all .5s ease-out;

    //--------------------------------------------------------
    &.is-show{
    	display: block;
    	opacity: 1;
    	transition:all .5s ease-out;
    	 visibility: visible;
    }
}