/*------------------------------------------------------------
header
------------------------------------------------------------*/
#header{
	padding-bottom: 85px;
	position: relative;
	z-index: 10;
	.logo{
		padding-top: 4px;
	}
	.txt{
		padding: 10px 30px;
		background-color: #fff;
		border-bottom: 1px solid #E6E6E6;
		position: relative;
		font-size: 12px;
	    line-height: 1.5;
	    font-weight: normal;
	    z-index: 600;
	}

	.inner{
		box-sizing: border-box;
		padding: 20px 30px 0;
		width: 100%;
		min-width: 970px;
		background-color: #fff;
		box-shadow: -1px 0 5px rgba(0,0,0,0.25);
		left: 0;
		z-index: 500;
		display: flex;
		justify-content: space-between;
		&.top{
			position: absolute;
			top: 39px;
		}
		// &.fixed-set{
			
		// 	top: -130px;
		// }
		&.fixed-header{
			position: fixed;
		    top: 0;
		    z-index: 500;
		    transition: 500ms top ease;
		    animation: slideheader 500ms ease 1 forwards;

		}
		@keyframes slideheader{
			0%{
		        transform: translateY(-130px);
			}
			100%{
				transform: translateY(0);
			}
		}
	}
}
#gNavi {
	ul{
		display: flex;
	    list-style-type: none;
	    padding-bottom: 25px;
	    li{
			width: 128px;
			border-right: 1px solid #E6E6E6;
			box-sizing: unset;
			&:first-child{
				border-left: 1px solid #E6E6E6;
			}
		}
	}
	a{
		width: 100%;
		height: 40px;
		display: table;
		position: relative;
		color: #111;
		font-size: 13px;
		line-height: 1.5;
		text-align: center;
		text-decoration: none;
		&:after{
			content: '';
			margin-top: 20px;
			width: 100%;
			height: 5px;
			background-color: #004795;
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0;
		}
		&:hover{
			&:after{
				opacity: 1;
			}
		}
		span{
			padding: 0 15px 0;
			display: table-cell;
			vertical-align: middle;
		}
	}
}