body{
	line-height: 1.7;
}
#container{
	background: url('/bg01.png');
	color: #111;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#main{
	font-size: 160%;
}
#page{
	flex:1;
}
.__nuxt-error-page{
	z-index: 1;
}
.clearfix{
	*zoom:1;
	&:after {
	    display: block;
	    clear: both;
	    content: "";
	}
}
#conts{
	padding-bottom: 80px;
	}
.contsSet{
	margin: 80px auto 0;
	width: 960px;
}