/*------------------------------------------------------------
page-about
------------------------------------------------------------*/

#conts{
	.logo{
		margin-top: 65px;
		margin-bottom: 75px;
		text-align: center;
	}

	//--------------------------------------------------------
	.lead{
		margin-bottom: 70px;
	}

	//--------------------------------------------------------
	.value{
		margin-bottom: 80px;
	}

	//--------------------------------------------------------
	.contsBox {
		p{
			text-align: center;
			&.text{
				margin: 0 0 60px 0;
			}
		}
		.imgBox{
			margin-top: 60px;
			.imgLeft,.imgCenter{
				width: 300px;
				float: left;
			}
			.imgCenter{
				margin: 0 30px;
			}
			.imgRight{
				width: 300px;
				float: right;
			}
		}
		.infoImg{
			margin-bottom: 80px;
			position: relative;
			.arror01{
				position: absolute;
				top: 178px;
				left: 552px;
			}
			.arror02 {
			    position: absolute;
			    top: 494px;
			    left: 364px;
			}
			.arror03 {
			    position: absolute;
			    top: 494px;
			    right: 185px;
			}
			a:hover{
				opacity: 1;
			}
		}

		.lBox{
			width: 595px;
			float: left;
			p{
				text-align: left;
			}
		}
		.rBox{
			margin-top: -30px;
			float: right;
		}

		.listBox01{
			margin-top: 40px;
			padding: 30px 0;
			border: 1px solid #29B6B4;
			text-align: center;
			.list01{
				width: 238px;
				float: left;
				border-left: 1px solid #D6D6D6;
				&:first-child{
					border: none;
				}
				dl{
					dt{
						margin: 20px 0 10px 0;
						color:#29B6B4;
						line-height: 1.5;
						font-weight: bold;
						text-align: center;
					}
					dd{
						padding: 0 30px;
						font-size: 87.5%;
						text-align: left;
					}
				}
			}
		}
		.listBox02{
			border: 1px solid #004795;
			padding: 30px;
			.inner{
				width: 900px;
				border-bottom: 1px solid #D6D6D6;
				&:after{
					display: block;
					clear: both;
					content: '';
				}
				+.inner{
					border-bottom: none;
					.list02{
						padding-top: 30px;
						padding-bottom: 0;
					}
				}
			}
			.list02{
				margin-left: 30px;
				padding-bottom: 30px;
				padding-left:30px;
				width: 290px;
				min-height: 220px;
				border-left: 1px solid #D6D6D6;
				float: left;
				&:first-child{
					margin-left: 0;
					padding-left: 0;
					width: 260px;
					border-left: none;
				}
				.img{
					margin: 0 auto;
					min-height: 56px;
				}
				dl{
					margin-top: 15px;
					dt{
						color:#004795;
						font-weight: bold;
					}
					dd{
						margin-top: 10px;
						font-size: 87.5%;
						text-align: left;
					}
				}
			}
		}
		.linkText01{
			margin-top: 35px;
			margin-bottom: 75px;
			text-align: left;
			&:before{
				content: '';
				width: 16px;
				height: 16px;
				display: inline-block;
				background: url('/about/icon02.png') no-repeat;
				margin-bottom: -3px;
				padding-right: 5px;
			}
			&:after{
				content: '';
				width: 12px;
				height: 12px;
				display: inline-block;
				background: url('/about/icon03.png') no-repeat;
				margin-left: 15px;
			}
			a{
				color: #29B6B4;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.contsText{
			margin-bottom: 30px;
			text-align: left;
		}

		.linkText02{
			margin: 35px 0 75px 0;
			text-align: left;
			&:before{
				margin-bottom: -3px;
				padding-right: 5px;
				background:url('/about/icon05.png') no-repeat;
				width: 16px;
				height: 16px;
				display: inline-block;
				content: '';
			}
			a{
				color:#004795;
				&:hover{
					text-decoration: underline;
					opacity: 1;
				}
			}
		}

	}

	//--------------------------------------------------------
	#atjinnji{
		.ttl04{
			border-bottom: 1px solid #29B6B4;
			&:before{
			   background-image: url('/about/icon01.png');
			}
		}
		.ttl{
			color: #29B6B4;
		}
	}

	//--------------------------------------------------------
	#consulting{
		.ttl{
			color: #004795;
		}
	}

	//--------------------------------------------------------
	#agency{
		.ttl04{
			border-bottom-color: #E5004E;
			&:before{
				background-image: url('/about/icon06.png');
			}
		}
		.ttl{
			color: #E5004E;
		}
		.contsText{
			margin-bottom: 0;
		}
	}

	//--------------------------------------------------------
	#atjinnji,#consulting,#agency{
		.ttl{
			margin-bottom: 15px;
			font-size: 125%;
			font-weight: normal;
			line-height: 1.1;
		}
	}
}

.sentence{
	margin-bottom: 80px;
	p{
		margin-top: 2.5em;
		text-align: center;
		&:first-child{
			margin-top: 0;
		}
	}
}
.lead strong{
	color:#004795;
	font-size: 125%;
	font-weight: normal;
}
.em{
	color:#E5004E;
	font-style: normal;
}
.ttl01{
	margin-bottom: 60px;
	font-size: 200%;
	font-weight: normal;
	text-align: center;

	//--------------------------------------------------------
	&:before,&:after{
		width: 100%;
		content: '';
		display: block;
	}

	//--------------------------------------------------------
	&:before{
		margin-bottom: 35px;
		height: 38px;
		background:url('/ttl_deco.png') no-repeat center;
	}

	//--------------------------------------------------------
	&:after{
		margin-top: 35px;
		height: 6px;
		background:url('/ttl_dots.png') no-repeat center;
	}
}
.ttl04{
	margin-bottom: 35px;
	padding-bottom: 10px;
	padding-left: 25px;
	border-bottom: 1px solid #004795;
	position: relative;
	font-size: 150%;
	font-weight: normal;
	line-height: 1.1;
	&:before{
	    margin-top: -17px;
	    width: 20px;
	    height: 20px;
	    background-repeat: no-repeat;
	    background-image: url('/icon/ttl_icon01.png');
	    position: absolute;
	    top: 50%;
	    left: 0;
	    content: "";
	}
}
