/*------------------------------------------------------------
page-faq
------------------------------------------------------------*/
#conts{
	.faq{

		margin-top: 20px;
		overflow: hidden;
		&:first-child{
			margin-top: 0;
		}

		.ttl{
			background-color: #fff;
			color: #004795;
			font-weight: normal;
			cursor: pointer;
			line-height: 1.5;
			&:after{
				margin-top: -7px;
				width: 15px;
				height: 15px;
				background-image: url('/icon/icon_open.png');
				background-repeat: no-repeat;
				background-size: 15px 15px;
				position: absolute;
				top: 50%;
				right: 30px;
				content: '';
			}
			&.is-open:after{
				background-image: url('/icon/icon_close.png');
			}
		}
		.ttl,.txt{
			padding: 27px 45px 23px 55px;
			position: relative;
			border: 1px solid #d6d6d6;
			font-size: 1em;
			.icon{
				position: absolute;
				top: 27px;
				left: 30px;
			}
		}
		.txt{
			background-color: #F6F6F6;
			border-top: none;
			display: none;
		}
	}
}