/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
#mainVisual{
	width:100%;
	display: table;
	text-align: center;
	&.bg{
		height: 320px;
		background:url("/main_bg.jpg") no-repeat center;
		background-size: cover;
	}

	.pageTtl{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}
/*
------------------------------------------------------------*/
#pageLink{
	padding: 80px;
	width: 100%;
	border-top: 1px solid #E6E6E6;
	display: table;

	//--------------------------------------------------------
	.item{
		width: 25%;
		display: table-cell;
		border-left: 1px solid #fff;
		vertical-align: top;
		background-size: cover;
	}

	//--------------------------------------------------------
	.about{
		background:url('/about_img.jpg') no-repeat center/cover;
	}

	//--------------------------------------------------------
	.solution{
		background:url('/solutions_img.jpg') no-repeat center/cover;
	}

	//--------------------------------------------------------
	.ranking{
		background:url('/ranking_img.jpg') no-repeat center/cover;
	}

	//--------------------------------------------------------
	.cover{
		height: 240px;
		display: block;
		position: relative;
		&:after{
			content: '';
			width: 40px;
			height: 40px;
			background: url('/box_arrow01.png') no-repeat;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 5;
		}
		&:hover{
			background-image: url('/cover01.png');
		}
		>.txt{
			margin-top: -75px;
			width: 100%;
			position: absolute;
			text-align: center;
			top: 50%;
		}
	}
}
/*
------------------------------------------------------------*/
#pagePath{
	padding: 12px 30px 10px;
	background-color: #fff;
	li{
		margin-right: 5px;
		display: inline;
		font-size: 1.2rem;
		a{
			margin-right: 5px;
			color: #004795;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}